@{
    ViewBag.Title = "Contact";
}
    <!-- page intro start -->
    <div class="page-intro">

        <!-- google maps start -->
        <div id="map-canvas"></div>
        <!-- google maps end -->

    </div>
    <!--  page intro end -->
    <!-- main content wrapper start -->
    <div class="main-content-wrapper">
        <div class="container">
            <div class="row">

                <!-- main content start -->
                <section class="main-content col-md-8">
                    <h1 class="title">Contact Us</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                    <div class="contact-form">
                        <form id="contact-form" role="form">
                            <div class="form-group name">
                                <label for="name">Name*</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="">
                            </div>
                            <div class="form-group email">
                                <label for="email">Email*</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="">
                            </div>
                            <div class="form-group subject">
                                <label for="subject">Subject*</label>
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="">
                            </div>
                            <div class="form-group message">
                                <label for="message">Message*</label>
                                <textarea class="form-control" rows="6" id="message" name="message" placeholder=""></textarea>
                            </div>
                            <input type="submit" value="Submit" class="btn btn-default">
                        </form>
                    </div>
                </section>
                <!-- main content end -->
                <!-- sidebar start -->
                <aside class="sidebar col-md-4">
                    <div class="side vertical-divider-left">
                        <h3 class="title">Find Us</h3>
                        <ul class="list">
                            <li><strong>Salguero-Duarte & Riochmond Law</strong></li>
                            <li><i class="fa fa-home pr-10"></i>22 E Downer Place.<br>Aurora, IL 60505</li>
                            <li><i class="fa fa-home pr-10"></i>318 N 1st St.<br>Rockford, IL 61107</li>
                            <li><i class="fa fa-phone pr-10"></i><abbr title="Phone">P:</abbr> (815) 988-9523</li>
                            <li><i class="fa fa-phone pr-10"></i><abbr title="Fax">P:</abbr> (815) 900-7400</li>
                        </ul>
                        <ul class="list">
                            <li><strong>Email</strong></li>
                            <li><i class="fa fa-envelope pr-10"></i><a href="mailto:#">info@SalgueroRichmond.com</a></li>
                        </ul>
                        <ul class="social-links large">
                            <li><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                            <li><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </aside>
                <!-- sidebar end -->

            </div>
        </div>
    </div>
    <!-- main content wrapper end -->
